<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhmp.project.dao.DeclareDao">
	<insert id="insertPorjectDeclare" 
	parameterType="com.yhmp.project.entity.PorjectDeclare" >
		INSERT INTO project (declareProject,
		declareNumber,
		declareFraction,
		declareScale,
		declareArrange,
		declareAssess,
		declareSurveying,
		declarePlan,
		contract,
		declareCompany,
		declareName,
		declarePhone,
		finishTime,
		quality,
		bid,
		responsibilityName,
		responsibilityPhone)
		VALUES(#{declareProject},
		#{declareNumber},
		#{declareFraction},
		#{declareScale},
		#{declareArrange},
		#{declareAssess},
		#{declareSurveying},
		#{declarePlan},
		#{contract},
		#{declareCompany},
		#{declareName},
		#{declarePhone},
		#{finishTime},
		#{quality},
		#{bid},
		#{responsibilityName},
		#{responsibilityPhone}
		)
	</insert>
    
</mapper>